.modal {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.397);
  z-index: 1101;

  position: fixed;
  top: 0;

  div {
    background-color: rgb(24, 23, 23);
    border-radius: 6px;
    position: relative;
    padding-top: 20px;
    > button {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
}
