.cardContacts {
  min-width: 250px;
  height: 200px;
  background-color: rgb(237, 239, 245);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  border-radius: 5px;

  button {
    color: rgb(14, 13, 13);
  }
  button:hover {
    border-bottom: 1px solid black;
  }
}
